.onefamico {
    margin: 2px;
    cursor: pointer;
}

.onefamico:hover {
    border-color: [COLOR_C0];
    background-color: [COLOR_C3];
}

.onefameico_open {
    border-left: 2px solid [COLOR_B1];
}

.onefameico_open:hover {
    border-color: [COLOR_C0] [COLOR_C0] [COLOR_C0] [COLOR_B1];
}

.onefamico_selected {
    margin: 0;
    border: 2px solid [COLOR_B0];
    background-color: [COLOR_B3];
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from([COLOR_B9]), to([COLOR_B1]));
    background: -moz-linear-gradient(270deg, [COLOR_B9], [COLOR_B1]);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '[COLOR_B9]', endColorstr = '[COLOR_B1]'); /* for IE */
}

.ifonefam {
    border:none;
    padding : 0;
    margin : 0;
}
.iframecell {
    position : absolute;
    top : 0;
    left : 42px;
    right : 0;
    padding:0;
    margin:0;
    [IF ISIE]vertical-align:top;[ENDIF ISIE]
}
.iconList {
    border:none;
    overflow:auto;
    text-align: center;
}

.onefam {
    position : relative;
    [IF oneBgColor]
    background-color:[ONEFAM_BGCOLOR];
    background: linear-gradient(270deg, [ONEFAM_BGCOLOR], [CORE_BGCOLOR]);
    background: -moz-linear-gradient(270deg, [ONEFAM_BGCOLOR], [CORE_BGCOLOR]);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from([ONEFAM_BGCOLOR]), to([CORE_BGCOLOR]) );
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='[ONEFAM_BGCOLOR]', endColorstr='[CORE_BGCOLOR]'); */
    [ENDIF oneBgColor]
}

.css-add-button-icon {
    width: 75%;
}

/* ----------------- aide ---------------------- */
#aide {
  background-color: [COLOR_WHITE];
  padding:0;
}
div.hblock {
    color:[COLOR_A2];
    font-size:90%;
    padding:10px;
}
h1,
h2,
h3 {
    color:[COLOR_A0];
    font-weight:bold;
    margin:5px;
    border-bottom:1px solid [COLOR_A0]
}
h1 {
    text-align: center;
}
h2 {
    font-size: 110%;
}
h3 {
    font-size: 100%;
}
div.hcontent {
    margin:5px 5px 5px 10px;
}
div.hblock b {
    font-weight:bold;
    font-size:110%;
    color:[COLOR_B0];
}
.help-keyword, .help-operator {
    font-size: 90%;
    font-family: Courrier, monospace;
    margin: 0px;
    padding: 0 2px;
    border: 1px solid [COLOR_A7];
    font-style: normal;
}
.help-operator {
    font-size: 100%;
    font-weight: bold;
    border-width: 2px;
}

